@import url(keyframes.css);

.tile-container {
    justify-content: start;
    flex-direction: column;
}

.container {
    display: grid;
    width: 100%;
    height: 78vh;
    padding: 2vw 8vw;
    grid-template-columns: 42% 52%;
    grid-template-rows: 
        40% 
        17% 
        17% 
        17% ;
    grid-template-areas: 
        "contact-card contact-card"
        "name-card message-card"
        "email-card message-card"
        "subject-card message-card";
    grid-gap: 1vw;
    justify-content: center;
    align-items: center;
}

/* ==================== */
/* Card Styles */
/* ==================== */
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
}
.card h6 {
    text-align: left;
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;

}
.card input {
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    padding: 12px 1vw;
    margin: 1rem;
    border-radius: 5px;
    font-size: 0.5rem;
    width: 90%;
    outline: none;
    z-index: 2;
    border: rgba(70, 70, 70, 0.3) 2px solid;
    background-color: transparent;

}

.card .placeholder {
    position: absolute;
    /* font-family: "Calibri"; */
    left: 2.5em;
    top: 45%;
    transform: translateY(-50%);
    font-weight: 300;
    color: #555;
    font-size: 1rem;
    transition: 0.3s ease;
    z-index: 1;
    padding: 0;
    margin-top: 1%;
    background-color: #d9d9d9ff;
    transition: 0.3s;
    text-transform: uppercase;

}

.card input:focus+.placeholder,
.card input:valid+.placeholder {
    transform: translateY(-160%) scale(0.8);
    font-weight: 100;
    left: 5%;
    color: #636363;
    z-index: 3;
}

/* Style autofilled input fields */
.card input:-webkit-autofill,
.card input:-webkit-autofill:hover,
.card input:-webkit-autofill:focus,
.card input:-webkit-autofill:active {
    -webkit-text-fill-color: #000 !important;
    transition: background-color 5000s ease-in-out 0s;
    border: rgba(70, 70, 70, 0.3) 2px solid;
    font-size: 0.5rem;
    border-radius: 5px;
    outline: none;
    z-index: 2;
}

#name-card,
#email-card,
#subject-card,
#message-card {
    width: 100%;   
    height: 100%; 
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-card {
    grid-area: contact-card;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: left;
    justify-content: left;
    padding: 0;
    margin: 0;
    animation: slide-right-in 0.5s ease;
}

#contact-card h1 {
    z-index: 2;
}

.wave {
    width: 200%;
    height: 200%;
    background: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    z-index: 1;
    padding: 0;
    margin: 0;
}

.wave::after,
.wave::before {
    content: "";
    position: absolute;
    width: 250%;
    height: 1175%;
    top: -1120%;
    left: -70%;
    background: #131313;
}

.wave::after {
    border-radius: 45%;
    animation: water_wave 20s linear infinite;
}

.wave::before {
    border-radius: 25%;
    background: rgba(255, 136, 0, 0.765);
    animation: water_wave 20s linear infinite;
}

@keyframes water_wave {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.wave h1 {
    color: #ff9900;
    font-size: 4rem;
    /* font-family: "Montserrat", serif; */
    font-weight: 900;
    font-style: italic;
    margin: 0;
    padding: 0;
}

#name-card {
    grid-area: name-card;
    animation: slide-bottom-in 0.3s ease 0.5s;
    animation-fill-mode: backwards;
}

#email-card {
    grid-area: email-card;
    animation: slide-bottom-in 0.3s ease 0.7s;
    animation-fill-mode: backwards;
}

#subject-card {
    grid-area: subject-card;
    animation: slide-bottom-in 0.3s ease 0.9s;
    animation-fill-mode: backwards;

}

#message-card {
    grid-area: message-card;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
    gap: 5%;
    z-index: 1;
    background: #131313;
    animation: slide-left-in 0.3s ease 0.2s;
    animation-fill-mode: backwards;
}

#message-card textarea {
    width: 100%;
    height: 100%;
    /* margin-top: 3%; */
    border-radius: 10px;
    background-color: transparent;
    resize: none;
    border: rgba(255, 255, 255, 0.3) 2px solid;
    outline: none;
    padding: 1rem;
    color: #fff;
}

#message-card .wrapper {
    top: 50%;
    left: 50%;
}

#message-card .link_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#message-card a {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 3em;
    font-weight: bold;
    text-decoration: none;
    background: #333;
    border-radius: 10px;
    text-align: center;
    color: #ccc;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 1px solid #333;
    transition: all 0.3s ease;
}

#message-card .icon {
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    position: absolute;
    /* transform: rotate(45deg); */
    border-radius: 50%;
    opacity: 0;
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
}

#message-card .icon svg {
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    fill: #ffffff;
    transition: all .35s;
}

#message-card a:hover {
    cursor: pointer;
    width: 200px;
    border: 1px solid #ffffff;
    background: transparent;
    color: #ffffff;
}

#message-card a:hover+.icon {
    border: 1px solid #ffffff;
    right: -30%;
    opacity: 1;
}

.contact-links {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    gap: 30px;
    animation: slide-bottom-in 0.3s ease 1.1s backwards;
}

.contact-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s ease-in;
}

.contact-links a .svg-icon {
    width: 2.3em;
    height: 2.3em;
    pointer-events: none; /* Ensure the SVG itself does not block the click */
}

.contact-links a {
    position: relative;
    display: inline-block;
    width: 2.3em;
    height: 2.3em;
}

.contact-links a:hover {
    transform: scale(1.1);
}