:root {
    --background-color: #fff;
    --card-box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8),
        5px 5px 10px rgba(70, 70, 70, 0.32);
    --blur-value: 10px;
    --scroll-duration: 10s;
}

.container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 350px 500px;
    grid-template-rows: 11rem 5.5rem 5.5rem 5.5rem;
    grid-gap: 1.042vw;
    justify-content: center;
    align-items: center;
    /* margin: 20px; */
}

/* ==================== */
/* Card Styles */
/* ==================== */

.card h6 {
    text-align: left;
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;

}

.card input {
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    padding: 0.8rem 15px;
    margin: 1rem;
    border-radius: 5px;
    font-size: 0.5rem;
    width: 80%;
    outline: none;
    z-index: 2;
    /* box-shadow: 2px 2px 3px rgba(255,255,255, 0.3),
    -2px -2px 3px rgba(70, 70, 70, 0.32); */
    border: rgba(70, 70, 70, 0.3) 2px solid;
    /* background-color: rgba(255,255,255,0.5); */
    background-color: transparent;

}

.card .placeholder {
    position: absolute;
    /* font-family: "Calibri"; */
    left: 2.5em;
    top: 45%;
    transform: translateY(-50%);
    font-weight: 300;
    color: #555;
    font-size: 1rem;
    transition: 0.3s ease;
    z-index: 1;
    padding: 0;
    margin-top: 1%;
    background-color: #d9d9d9ff;
    transition: 0.3s;
    text-transform: uppercase;

}

.card input:focus+.placeholder,
.card input:valid+.placeholder {
    transform: translateY(-180%);
    /* font-family: "Calibri", sans-serif; */
    font-weight: 100;
    font-size: 0.05rem;
    left: 8%;
    color: #636363;
    z-index: 3;
}

/* Style autofilled input fields */
.card input:-webkit-autofill,
.card input:-webkit-autofill:hover,
.card input:-webkit-autofill:focus,
.card input:-webkit-autofill:active {
    -webkit-text-fill-color: #000 !important;
    /* Change the text color */
    transition: background-color 5000s ease-in-out 0s;
    /* Prevent background color from changing */
    border: rgba(70, 70, 70, 0.3) 2px solid;
    /* Maintain border-bottom style */
    font-size: 0.5rem;
    /* Maintain font size */
    border-radius: 5px;
    /* Maintain border radius */
    outline: none;
    /* Maintain outline */
    z-index: 2;
    /* Maintain z-index */
}

#name-card,
#email-card,
#subject-card,
#message-card {
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#contact-card {
    grid-column: span 2;
    grid-row: span 1;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: left;
    justify-content: left;
    padding: 0;
    margin: 0;
    animation: slide-right-in 0.5s ease;
}

#contact-card h1 {
    z-index: 2;
}

.wave {
    width: 100%;
    height: 200%;
    background: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    z-index: 1;
    padding: 0;
    margin: 0;
}

.wave::after,
.wave::before {
    content: "";
    position: absolute;
    width: 250%;
    height: 1175%;
    top: -1120%;
    left: -70%;
    background: #131313;
}

.wave::after {
    border-radius: 45%;
    animation: water_wave 60s linear infinite;
}

.wave::before {
    border-radius: 25%;
    background: rgba(255, 136, 0, 0.765);
    animation: water_wave 60s linear infinite;
}

@keyframes water_wave {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(3600deg);
    }
}

.wave h1 {
    color: #ff9900;
    font-size: 4rem;
    /* font-family: "Montserrat", serif; */
    font-weight: 900;
    font-style: italic;
    margin: 0;
    padding: 0;
}

#name-card {
    grid-column: span 1;
    grid-row: span 1;
    animation: slide-bottom-in 0.5s ease 0.5s;
    animation-fill-mode: backwards;
}

#email-card {
    grid-column: span 1;
    grid-row: span 1;
    animation: slide-bottom-in 0.5s ease 0.8s;
    animation-fill-mode: backwards;
}

#subject-card {
    grid-column: span 1;
    grid-row: span 1;
    animation: slide-bottom-in 0.5s ease 1s;
    animation-fill-mode: backwards;

}

#message-card {
    grid-column: span 1;
    grid-row: span 3;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    padding: 1%;
    background: #131313;
    animation: slide-left-in 0.5s ease 0.2s;
    animation-fill-mode: backwards;
}

#message-card textarea {
    width: 80%;
    height: 100%;
    border-radius: 5px;
    background-color: transparent;
    /* background-color: rgba(255,255,255,0.5); */
    border: none;
    resize: none;
    margin: 5% 0;
    /* border-top: rgba(70, 70, 70, 0.3) 2px solid;
    border-bottom: rgba(70, 70, 70, 0.3) 2px solid; */
    border: rgba(255, 255, 255, 0.3) 2px solid;
    outline: none;
    padding: 1rem;
    color: #fff;
}

/* #message-card .btn {
    background: rgba(255,255,255, 0.1);
    border-radius: 8px;
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
    border: rgba(70, 70, 70, 0.3) 2px solid;
    color: #fff;
    z-index: 10;
    cursor: pointer;
    padding: 1rem;
    margin: 3%;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    position:relative;
}
#message-card .btn:active{
    box-shadow: 0px 0px 3px rgba(255,255,255, 0.8);
}

#message-card .btn:hover:not(:active) {
    box-shadow: 0px 0px 3px rgba(255,255,255, 0.8)

} */
#message-card .wrapper {
    /* position: fixed; */
    top: 50%;
    left: 50%;
    margin-bottom: 1rem;
    /* transform: translate(-50%, -50%); */
}

#message-card .link_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#message-card a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 3em;
    font-weight: bold;
    text-decoration: none;
    background: #333;
    border-radius: 10px;
    text-align: center;
    color: #ccc;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 1px solid #333;
    transition: all 0.3s;
}

#message-card .icon {
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    position: absolute;
    /* transform: rotate(45deg); */
    border-radius: 50%;
    opacity: 0;
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
}

#message-card .icon svg {
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    fill: #ffffff;
    /* opacity: 0; */
    transition: all .35s;
}

#message-card a:hover {
    width: 200px;
    border: 1px solid #ffffff;
    background: transparent;
    color: #ffffff;
}

#message-card a:hover+.icon {
    border: 1px solid #ffffff;
    right: -30%;
    opacity: 1;
}

.contact-links {
    grid-column: span 2;
    grid-row: span 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 30px;
}

.contact-links a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-links a .svg-icon {
    width: 2.3em;
    height: 2.3em;
    pointer-events: none; /* Ensure the SVG itself does not block the click */
}

.contact-links a {
    position: relative;
    display: inline-block;
    width: 2.3em;
    height: 2.3em;
}