@import url(keyframes.css);

/* ==================== */
/* Global Variables */
/* ==================== */
:root {
    --background-color: #fff;
    --card-box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.8),
        3px 3px 5px rgba(70, 70, 70, 0.32);
    --blur-value: 10px;
    --scroll-duration: 10s;
}

/* -------------------------------------------------------------------------- */


.slide-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* gap: 10vw; */
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overscroll-behavior-x: contain;
    width: 100vw;
    height: 85vh;
    flex-direction: column;
    /* scroll-padding-left: 10vw;  */
    /* margin: 0; */
}

.slide {
    padding: 10px;
    width: 100%;
    height: 90%;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.container {
    /* border: 1px green solid; */
    width: 70vw;
    height: 100%;
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: 50% 50%;
    grid-template-rows:
        21.875% 44.875% 31.25%;
    grid-template-areas:
        "logo title"
        "logo info"
        "carousel info";
    grid-gap: 8px;
    justify-content: center;
    align-items: center;
}


.slide.active {
    opacity: 1;
    transform: translateY(0);
}

.slide.active #logo-card {
    animation: slide-left-in 0.3s ease;
    animation-fill-mode: backwards;
}

.slide.active #title-card {
    animation-name: slide-right-in;
    animation-delay: 0.4s;
}

.slide.active #info-card {
    animation-name: slide-top-in;
    animation-delay: 0.1s;
}

.slide.active #carousel-card {
    animation-name: slide-bottom-in;
    animation-delay: 0.3s;
}

.container * {
    z-index: 1;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

#logo-card {
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #0e0707;
    padding: 0;
}

#logo-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#title-card {
    grid-area: title;
    height: 100%;
}

#title-card h1 {
    font-family: "Open Sans", serif;
    text-transform: uppercase;
    width: 80%;
    font-size: clamp(0.5rem, 0.1rem + 1vw, 1.2rem);
    font-weight: 900;
    text-align: center;
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}

#project1 #title-card h1 {
    background-image: linear-gradient(to right,
            rgba(13, 48, 13),
            rgba(99, 162, 17, 1),
            rgb(13, 48, 13));
}

#project2 #title-card h1 {
    background-image: linear-gradient(to right,
            rgb(255, 230, 0),
            rgb(255, 58, 58),
            rgb(255, 230, 0));
}

#project3 #title-card h1 {
    background-image: linear-gradient(to right,
            rgb(146, 166, 254),
            rgba(45, 116, 213),
            rgb(146, 166, 254));
}

#info-card {
    grid-area: info;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: brown 1px solid; */
    padding: 2rem;
    gap: 5%;
}

.info-container {
    /* border: 1px magenta solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 0;
}

.info-container ul {
    /* border: 1px red solid; */
    /* list-style: none; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    text-align: justify;
    font-size: 0.5px;
    padding: 0;
}

.info-container ul li {
    font-weight: 400;
}

#project1 .info-container ul li {
    transform: scale(0.9);
    margin: 0.5rem 0;
    color: rgb(0, 86, 0);
}

#project2 .info-container ul li {
    transform: scale(0.9);
    margin: 0.5rem;
    color: rgb(192, 58, 0);
}

#project3 .info-container ul li {
    transform: scale(0.9);
    margin: 0.4rem;
    color: rgb(14, 0, 49);
}

#info-card a {
    margin: 0;
    padding: 0;
    align-self: center;
    background: url("../icons/tech/github.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 3.5rem;
    height: 3.5rem;
}

#carousel-card {
    background: transparent;
    height: 100%;
}

.carousel-wrapper {
    width: 100%;
    margin-inline: auto;
    position: relative;
    height: 100%;
    padding: 0.5vw;
    overflow: hidden;
    white-space: nowrap;
}

.carousel-card-item {
    position: absolute;
    height: 90%;
    width: 35%;
    border-radius: 8px;
    left: 100%;
    animation: scroll-left var(--scroll-duration) linear infinite;
    overflow: hidden;
}

.carousel-card-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-card-item#item1 {
    animation-delay: calc(var(--scroll-duration) / 3 * (3 - 1) * -1);
}

.carousel-card-item#item2 {
    animation-delay: calc(var(--scroll-duration) / 3 * (3 - 2) * -1);
}

.carousel-card-item#item3 {
    animation-delay: calc(var(--scroll-duration) / 3 * (3 - 3) * -1);
}

.dots-indicator{
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.5vw;
    z-index: 1000;
}

.dots-indicator li {
    background-color: #a7a7a7;
    width: 0.5vw;
    height: 0.5vw;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.dots-indicator li.active {
    /* transform: scale(2); */
    width: 1.5vw;
    border-radius: 20px;
    background-color: #000000;
}
