@import url('common.css');

.slide-container {
    margin-top: -20px;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    width: 100%;
    height: 100vh;
}

.slide {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    scroll-snap-align: start;
    opacity: 0;
    transform: translateY(100px);
}

.slide.active {
    opacity: 1;
    transform: translateY(0);
}

.container {
    grid-template-columns: 500px 350px;
    grid-template-rows: 100px 250px;
    grid-gap: 1.042vw;
}

#logo-card {
    grid-column: span 1;
    grid-row: span 2;
    background-color: #0e0707;
}

#title-card {
    grid-column: span 1;
    grid-row: span 1;
    height: 100%;
}

#title-card h1 {
    font-family: "Open Sans", serif;
    text-transform: uppercase;
    width: 80%;
    font-size: 1.2em;
    font-weight: 900;
    text-align: center;
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}

#info-card {
    grid-column: span 1;
    grid-row: span 2;
    height: 100%;
    padding: 10% 10% 0 10%;
}

#info-card ul {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
}

#info-card ul li {
    font-weight: 400;
}

#carousel-card {
    background: transparent;
    height: 150px;
}

.carousel-wrapper {
    width: 100%;
    margin-inline: auto;
    position: relative;
    height: 100%;
    overflow: hidden;
}

.carousel-card-item {
    position: absolute;
    height: 100%;
    margin-right: 30px;
    width: var(--item-width, 200px);
    border-radius: 8px;
    left: 100%;
    animation-name: scroll-left; 
    animation-duration: var(--scroll-duration, 30s);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    overflow: hidden;
}

.carousel-card-item img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}