@import url('keyframes.css');

:root {
    --backround-color: #fff;
    --card-box-shadow: -3px -3px 5px rgba(255,255,255, 0.8),
    3px 3px 5px rgba(70, 70, 70, 0.32);
    --blur-value: 10px;
}
/* <------------------------------------------------------------------------> */

.container {
    width: 85vw;
    max-height: 90vh;
    display: grid;
    padding: 0;
    /* grid-template-columns: 27% 27% 15% 27%; */
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    grid-template-columns: 27% 26% 15% 27%; 
    grid-template-rows: 50% 30% 12%;
    grid-template-areas: 
        "welcome education wave projects"
        "welcome tech tech projects"
        "welcome quote quote projects";
    grid-row-gap: 25px;
    grid-column-gap: 10px;
    justify-content: center;
    align-items: center;
    /* margin: 20px; */
}


/* <------------------------------------------------------------------------> */


#welcome-photocard {
    grid-area: welcome;
    height: 100%;
    animation: slide-bottom-in 0.3s ease;
    animation-fill-mode: backwards;
}

.photocard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 5%;
    /* border: red 1px solid; */
}
.photocard-container h1 {
    /* background-color: red; */
    margin-top: 0;
    /* margin: 0; */
    font-size: 2rem;
}
#welcome-photocard h2 {
    text-align: left;
    align-self: flex-start;
    /* width: 100%;*/
}
#welcome-photocard p {
    /* font-size: clamp(1rem, 4vw, 1rem); */
    font-size: clamp(1rem, 2vw, 1rem);
    font-weight: 300;
    text-wrap: wrap;
    padding: 0;
    margin: 0;
}

.photo-container {
    /* background-color: #ef2020; */
    height: clamp(80%, 10vh, 100%);
    width: clamp(80%, 5vw, 100%);
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    padding: 0;
    margin:0;
}
.photo-container img {
    position: relative;
    top: 5px;
    width: 100%;    
    height: 120%;
    object-fit: cover;
}

/* <------------------------------------------------------------------------> */

#education-card{
    grid-area: education;
    animation: slide-right-in 0.3s ease;
    animation-delay: 0.2s;
    animation-fill-mode: backwards;
    height: 100%;
}
.education-info {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.education-info h5{
    margin: 2px 0px 2px 0px;
    font-size: 0.5rem;
    font-weight: 500;
    text-align: left;
}
.education-info p {
    margin: 1px;
    font-size: 0.5rem;
    font-weight: 300;
    opacity: 0.6;
}
.education-title {
    display: flex;
    flex-direction: row;
}
.education-title h4 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    margin: 1px;
    margin-right: 2em;
}
.education-title h6 {
    font-weight: 300;
    font-size: 0.1rem;
}
/* <------------------------------------------------------------------------> */

#rand-img-card{
    grid-area: wave;
    height: 100%;
    display: flex;
    align-items: left;
    justify-content: left;
    box-sizing: border-box;
    animation: slide-top-in 0.3s ease;
    animation-delay: 0.6s;
    animation-fill-mode: backwards;
    padding: 0;
}

.wave{
    width: 100%;
    height: 200%;
    background: #eeeeee;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    
}
.wave::after,
.wave::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -20%;
    left: 50%;
    background: #131313;
}
.wave::after {
    border-radius: 45%;
    animation: water_wave 30s linear infinite;
}
.wave::before {
    border-radius: 25%;
    background:   rgba(255, 136, 0, 0.765);
    animation: water_wave 30s linear infinite;
}


/* <------------------------------------------------------------------------> */

#experience-card{
    grid-area: tech;
    /* width: 550px; */
    flex-direction: row;
    padding: 30px;
    animation: slide-bottom-in 0.3s ease;
    animation-delay: 0.4s;
    animation-fill-mode: backwards;
}
#experience-card h3 {
    font-weight: 700;
    width: 30%;
    text-align: justify;
    text-wrap: wrap;
    padding: 10px;
    /* margin-right: 20px; */
}
#experience-card ul {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 10px;
    flex-wrap: wrap;
    gap: 10px;
}
.svg-icon {
    width: 2.3em;
    height: 2.3em;
}

/* <------------------------------------------------------------------------> */

#quote-card {
    grid-area: quote;
    /* width: 550px; */
    height: 100%;
    background: #131313;
    animation: slide-bottom-in 0.3s ease;
    animation-delay: 0.8s;
    animation-fill-mode: backwards;
}

#quote-card h1 {
    font-size: 0.8rem;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(to right, #ffee00, #f8eb41, 
    #ffa641,#ef8720, #ffa641, #f8eb41, #ffee00);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient {
    to {
        background-position: 200%;
    } 
}

/* <------------------------------------------------------------------------> */

hr {
    opacity: 0.2;
}
#projects-card {
    grid-area: projects;
    height: 100%;
    animation: slide-right-in 0.3s ease;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
    /* padding: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#projects-card h1 {
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}
.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3%;
    height: 100%;
    width: 100%;
    padding: 0;
    /* border: red 1px solid; */
}

.project {
    position: relative; 
    width: 100%;
    height: 100px;
    background-color: #222;
    border-radius: 8px;
    filter: brightness(20%);
    transition: 0.3s ease;
    cursor: pointer;
    align-items: center;
}
.project:hover {
    transform: translateY(-5px);
    filter: brightness(80%);
}
.project::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    border-radius: 8px;
    transition: opacity 0.3s ease;
    opacity: 0; 
    z-index: 2;
}

.project:hover::before {
    opacity: 1; 
}

.project h4 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    top: 50%;
    margin: 0;
    padding: 0 25px;
    opacity: 0;
    z-index: 100;
    position: absolute;
    background: linear-gradient(to right, #ffee00, #f8eb41, 
    #ffa641, #ef8720, #ffda7b, #ffee00);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 1s linear infinite;
}
.project:hover h4 {
    opacity: 1;
}

.project img {
    background-color: #0d0403;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 8px;
}