@import url(keyframes.css);
/* ==================== */
/* Global Variables */
/* ==================== */
:root {
    --background-color: #fff;
    --card-box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.8),
                       3px 3px 5px rgba(70, 70, 70, 0.32);
    --blur-value: 10px;
    --scroll-duration: 10s;
}

/* ==================== */
/* Base Styles */
/* ==================== */
body {
    overflow: hidden;
    grid-template-areas: 
    "header"
    "tile-container";
}

.slide-container {
    transform: translateY(5%);
    grid-area: tile-container;
    overflow-y: scroll;
    scrollbar-width: none;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    /* border: red 1px solid; */
    /* padding: 0; */
}

/* ==================== */
/* Slide Initialization */
/* ==================== */
.slide {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    scroll-snap-align: start;
    opacity: 0;
    transform: translateY(100px);
    margin: 80px;
    /* transition: opacity 0.3s ease;  */
}

.slide.active {
    opacity: 1;
    transform: translateY(0);
}

.slide.active #logo-card{
    animation: slide-left-in 0.3s ease;
    animation-fill-mode: backwards;
}
.slide.active #title-card{
    animation-name: slide-right-in;
    animation-delay: 0.4s;
}
.slide.active #info-card{
    animation-name: slide-top-in;
    animation-delay: 0.1s;
}
.slide.active #carousel-card{
    animation-name: slide-bottom-in;
    animation-delay: 0.3s;
}

.container {
    display: grid;
    width: 100%;
    grid-template-columns: 500px 350px;
    grid-template-rows: 100px 
                        250px;
    grid-gap: 1.042vw;
    justify-content: center;
    align-items: center;
}

.container * {
    z-index: 1;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

#logo-card {
    grid-column: span 1;
    grid-row: span 2;
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 100%; 
    width: 100%; 
    padding: 0;
    overflow: hidden; 
    background-color: #0e0707;
}
#logo-card img {
    width: 100%;   
    height: 100%;   
    object-fit: cover; 
}

#title-card {
    grid-column: span 1;
    grid-row: span 1;
    height: 100%;
}

#title-card h1 {
    font-family: "Open Sans", serif;
    text-transform: uppercase;
    width: 80%;
    font-size: 1.2em;
    font-weight: 900;
    text-align: center;
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}
#project1 #title-card h1{
    background-image: linear-gradient( to right,  
    rgba(13, 48, 13), 
    rgba(99,162,17,1),
    rgb(13, 48, 13));
}
#project2 #title-card h1{
    background-image: linear-gradient( to right,  
    rgb(255, 230, 0), 
    rgb(255, 58, 58),
    rgb(255, 230, 0));
}
#project3 #title-card h1{
    background-image: linear-gradient( to right,  
    rgb(146, 166, 254), 
    rgba(45,116,213),
    rgb(146, 166, 254));
}

#info-card {
    grid-column: span 1;
    grid-row: span 2;
    height: 100%;
    padding: 10% 10% 0 10%;
}
#project1 #info-card {
    padding: 10%;
}

#info-card ul {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
}

#info-card ul li{
    font-weight: 400;
}
#project1 #info-card ul li {
    transform: scale(0.9);
    margin: 0.5rem;
    color: rgb(0, 86, 0);
}

#project2 #info-card ul li {
    transform: scale(0.9);
    margin: 0.5rem;
    color: rgb(192, 58, 0);
}

#project3 #info-card ul li {
    transform: scale(0.9);
    margin: 0.4rem;
    color: rgb(14, 0, 49);
}
#info-card a {
    margin: 0;
    padding: 0;
    background: url("../icons/github.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20%;
    height: 20%;
}

#carousel-card {
    background: transparent;
    height: 150px;
}
.carousel-wrapper {
    width: 100%;
    margin-inline: auto;
    position: relative;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.carousel-card-item {
    position: absolute;
    height: 100%;
    margin-right: 30px;
    width: var(--item-width, 200px);
    border-radius: 8px;
    left: 100%;
    animation-name: scroll-left; 
    animation-duration: var(--scroll-duration, 30s);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    overflow: hidden;
}

.carousel-card-item img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}